<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT umbFeature ANY>
<!ATTLIST umbFeature id ID #REQUIRED>
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT kalenderItem ANY>
<!ATTLIST kalenderItem id ID #REQUIRED>
<!ELEMENT kalenderRepository ANY>
<!ATTLIST kalenderRepository id ID #REQUIRED>
<!ELEMENT newsRepository ANY>
<!ATTLIST newsRepository id ID #REQUIRED>
<!ELEMENT newsItem ANY>
<!ATTLIST newsItem id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
]>
<root id="-1">
  <umbHomePage id="1055" key="98dea651-8893-445c-90c9-f777c5145122" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-23T09:49:47" updateDate="2017-03-06T11:29:22" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1053" creatorName="nfrank@byte5.de" writerName="Leonard" writerID="1" template="1050" nodeTypeAlias="umbHomePage">
    <siteName><![CDATA[Coast Cavern]]></siteName>
    <byline><![CDATA[1% Wissen 99% muss er noch prüfen]]></byline>
    <copyright><![CDATA[Nils Frank]]></copyright>
    <oeffnungszeiten><![CDATA[2017-03-07T19:00:00,2017-03-07T23:00:00]]></oeffnungszeiten>
    <closedImage><![CDATA[1061]]></closedImage>
    <openImage><![CDATA[1064]]></openImage>
    <umbFeature id="1056" key="f33d182b-6b34-4b3f-bbea-4e5d86710c27" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2017-02-23T09:49:47" updateDate="2017-03-02T16:34:12" nodeName="Sites" urlName="sites" path="-1,1055,1056" isDoc="" nodeType="1052" creatorName="nfrank@byte5.de" writerName="Leonard" writerID="1" template="0" nodeTypeAlias="umbFeature">
      <featureText><![CDATA[Stromberg - Staffel 2 Folge 3
High School of the Dead - Folge 8
Log Horizon - Staffel 2 Folge 2]]></featureText>
      <featureHeader><![CDATA[Serien]]></featureHeader>
      <link><![CDATA[http://www.strawpoll.me/12442467]]></link>
      <pollHeader><![CDATA[Sollte man Ian die Menschenrechte aberkennen?]]></pollHeader>
      <pollDescription><![CDATA[Sollte man Ian die Menschenrechte aberkennen?]]></pollDescription>
    </umbFeature>
  </umbHomePage>
  <kalenderRepository id="1067" key="9e6f7261-cc90-45db-81f5-3ad6cee3f58c" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-02-23T16:34:22" updateDate="2017-03-02T16:50:53" nodeName="Kalender" urlName="kalender" path="-1,1067" isDoc="" nodeType="1066" creatorName="nfrank@byte5.de" writerName="Leonard" writerID="1" template="1074" nodeTypeAlias="kalenderRepository">
    <copyright><![CDATA[Nils Frank]]></copyright>
    <itemsPerPage>2</itemsPerPage>
    <byline><![CDATA[Der Gefrorene Schuh]]></byline>
    <siteName><![CDATA[Kalender]]></siteName>
  </kalenderRepository>
  <newsRepository id="1081" key="30657bec-c448-48ca-8811-5296138a60f6" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2017-02-24T09:52:50" updateDate="2017-02-28T13:20:47" nodeName="News" urlName="news" path="-1,1081" isDoc="" nodeType="1077" creatorName="nfrank@byte5.de" writerName="nfrank@byte5.de" writerID="0" template="1076" nodeTypeAlias="newsRepository">
    <siteName><![CDATA[News]]></siteName>
    <byline><![CDATA[Witty text about the News]]></byline>
    <copyright><![CDATA[Nils Frank]]></copyright>
    <itemsPerPage>2</itemsPerPage>
    <newsItem id="1097" key="d3ba93a1-02e0-4000-ab33-253ea891f44b" parentID="1081" level="2" creatorID="1" sortOrder="4" createDate="2017-02-28T17:40:08" updateDate="2017-03-02T17:06:59" nodeName="Wunschliste für die Webseite" urlName="wunschliste-fuer-die-webseite" path="-1,1081,1097" isDoc="" nodeType="1079" creatorName="Leonard" writerName="Leonard" writerID="1" template="0" nodeTypeAlias="newsItem">
      <uberschrift><![CDATA[Wunschliste für die Webseite]]></uberschrift>
      <inhalt><![CDATA[<p>Festlegen von einem Zeitraum an dem ich markieren kann das es offen ist (z.b. für 2 Wochen Jeden Tag  19 - 23 Uhr)</p>
<p>Neber dem Öffnungstatus eine Liste in der man ein Kürzel eintragen und entferne kann. (Siehe es wie eine Anwesenheitsliste, sollte unter der Woche ab 23 Uhr gelöscht werden)</p>
<p>Untersite welche die möglichkeit gibt aus einer Hinterlegt liste einen zufälligen wert zu wählen (Denke Random Steam Game Picker)</p>
<p>Untersite für "Filme und Serien" damit ich eine große Liste habe von allen Sachen die mir immer empfohlen werden.</p>]]></inhalt>
      <verstecken>0</verstecken>
    </newsItem>
    <newsItem id="1101" key="e2ceb9bf-99c3-4e1e-91f2-67c650117177" parentID="1081" level="2" creatorID="1" sortOrder="5" createDate="2017-03-03T13:08:26" updateDate="2017-03-03T13:08:26" nodeName="Drachenlord hat fettes Geld" urlName="drachenlord-hat-fettes-geld" path="-1,1081,1101" isDoc="" nodeType="1079" creatorName="Leonard" writerName="Leonard" writerID="1" template="0" nodeTypeAlias="newsItem">
      <uberschrift><![CDATA[Rainer Winkler hat genug Geld für die Nintendo Switch]]></uberschrift>
      <inhalt><![CDATA[<p><strong>!!! BREAKING NEWS !!!</strong><br /><br />Laut neuesten Berichten die uns erreichen ist Rainer Winkler tatsächlich im Besitz von 70€.</p>
<blockquote style="background: #FFF; border: 0; border-radius: 3px; box-shadow: 0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width: 360px; padding: 0; width: calc(100% - 2px);" class="instagram-media" data-instgrm-version="7">
<div style="padding: 8px;">
<div style="background: #F8F8F8; line-height: 0; margin-top: 40px; padding: 50.0% 0; text-align: center; width: 100%;">
<div style="background: url(data:image/png; base64,ivborw0kggoaaaansuheugaaacwaaaascamaaaapwqozaaaabgdbtueaalgpc/xhbqaaaafzukdcak7ohokaaaamuexurczmzpf399fx1+bm5mzy9amaaadisurbvdjlvzxbesmgces5/p8/t9furvcrmu73jwlzosgsiizurcjo/ad+eqjjb4hv8bft+idpqocx1wjosbfhh2xssxeiyn3uli/6mnree07uiwjev8ueowds88ly97kqytlijkktuybbruayvh5wohixmpi5we58ek028czwyuqdlkpg1bkb4nnm+veanfhqn1k4+gpt6ugqcvu2h2ovuif/gwufyy8owepdyzsa3avcqpvovvzzz2vtnn2wu8qzvjddeto90gsy9mvlqtgysy231mxry6i2ggqjrty0l8fxcxfcbbhwrsyyaaaaaelftksuqmcc); display: block; height: 44px; margin: 0 auto -44px; position: relative; top: -22px; width: 44px;"></div>
</div>
<p style="color: #c9c8cd; font-family: Arial,sans-serif; font-size: 14px; line-height: 17px; margin-bottom: 0; margin-top: 8px; overflow: hidden; padding: 8px 0 7px; text-align: center; text-overflow: ellipsis; white-space: nowrap;"><a style="color: #c9c8cd; font-family: Arial,sans-serif; font-size: 14px; font-style: normal; font-weight: normal; line-height: 17px; text-decoration: none;" href="https://www.instagram.com/p/BRLHqXUFv6t/" target="_blank">A post shared by DrachenLord (@dracheoffiziell1510)</a> on Mar 3, 2017 at 3:08am PST</p>
</div>
</blockquote>
<p><br /><br />er wedelte damit in der Kamera und droht jeden der daran gezweifelt hat das er das Geld hat so fest in die Eier zu treten das man noch in 300 Jahren keine Kinder kriegen kann.<br /><br />Er ist ja nicht Arrogant.<br />Er ist ja nicht für Gewalt.<br />Er ist ja nicht wie in seinen Videos.</p>]]></inhalt>
      <verstecken>0</verstecken>
    </newsItem>
  </newsRepository>
  <login id="1090" key="0af10ef5-1317-4225-9673-b467f7b15e7a" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2017-02-24T10:40:33" updateDate="2017-03-01T09:26:28" nodeName="Login" urlName="login" path="-1,1090" isDoc="" nodeType="1089" creatorName="nfrank@byte5.de" writerName="Leonard" writerID="1" template="1088" nodeTypeAlias="login">
    <umbracoNaviHide>1</umbracoNaviHide>
    <begruessung><![CDATA[Sneaky Beaky Like]]></begruessung>
  </login>
</root>