<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT umbFeature ANY>
<!ATTLIST umbFeature id ID #REQUIRED>
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT kalenderItem ANY>
<!ATTLIST kalenderItem id ID #REQUIRED>
<!ELEMENT kalenderRepository ANY>
<!ATTLIST kalenderRepository id ID #REQUIRED>
<!ELEMENT newsRepository ANY>
<!ATTLIST newsRepository id ID #REQUIRED>
<!ELEMENT newsItem ANY>
<!ATTLIST newsItem id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
]>
<root id="-1">
  <umbHomePage id="1055" key="98dea651-8893-445c-90c9-f777c5145122" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-23T09:49:47" updateDate="2017-02-28T08:54:33" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1053" creatorName="nfrank@byte5.de" writerName="nfrank@byte5.de" writerID="0" template="1050" nodeTypeAlias="umbHomePage">
    <siteName><![CDATA[Coast Cavern]]></siteName>
    <offen>0</offen>
    <byline><![CDATA[Irgendwas witziges über uns]]></byline>
    <openingTimes>2017-02-24T09:30:00</openingTimes>
    <copyright><![CDATA[Nils Frank]]></copyright>
    <oeffnungszeiten><![CDATA[2017-02-28T17:00:00,2017-02-28T20:00:00]]></oeffnungszeiten>
    <closedImage><![CDATA[1061]]></closedImage>
    <openImage><![CDATA[1064]]></openImage>
    <umbFeature id="1056" key="f33d182b-6b34-4b3f-bbea-4e5d86710c27" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2017-02-23T09:49:47" updateDate="2017-02-23T15:09:48" nodeName="Serien" urlName="serien" path="-1,1055,1056" isDoc="" nodeType="1052" creatorName="nfrank@byte5.de" writerName="nfrank@byte5.de" writerID="0" template="0" nodeTypeAlias="umbFeature">
      <featureText><![CDATA[Family Guy S13 E12
Sense8 S01 E07]]></featureText>
      <featureHeader><![CDATA[Unsere Serien]]></featureHeader>
      <link><![CDATA[http://www.strawpoll.me/12400068]]></link>
      <pollHeader><![CDATA[Abstimmung]]></pollHeader>
      <pollDescription><![CDATA[Hier ist Beschreibung über die Abstimmung!]]></pollDescription>
    </umbFeature>
  </umbHomePage>
  <kalenderRepository id="1067" key="9e6f7261-cc90-45db-81f5-3ad6cee3f58c" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-02-23T16:34:22" updateDate="2017-02-24T09:02:07" nodeName="Kalender" urlName="kalender" path="-1,1067" isDoc="" nodeType="1066" creatorName="nfrank@byte5.de" writerName="nfrank@byte5.de" writerID="0" template="1074" nodeTypeAlias="kalenderRepository">
    <copyright><![CDATA[Nils Frank]]></copyright>
    <byline><![CDATA[Lustiger Spruch. Such funny. Much wow.]]></byline>
    <siteName><![CDATA[Kalender]]></siteName>
    <kalenderItem id="1068" key="51cf6457-288c-4281-8247-dc0a3018b77b" parentID="1067" level="2" creatorID="0" sortOrder="0" createDate="2017-02-23T16:34:45" updateDate="2017-02-24T09:33:51" nodeName="Kalender Eintrag 1" urlName="kalender-eintrag-1" path="-1,1067,1068" isDoc="" nodeType="1065" creatorName="nfrank@byte5.de" writerName="nfrank@byte5.de" writerID="0" template="0" nodeTypeAlias="kalenderItem">
      <beschreibung><![CDATA[<h4>The Fraoch Heather Ale around the rattlesnake</h4>
<p><span>Sometimes a slyly moldy Sierra Nevada beams with joy, but a chain saw always has a change of heart about a carelessly loose bud dry! For example, a hesitantly molten Hefeweizen indicates that a miller light defined by the hops befriends a blood clot. Now and then, a Sam Adams seldom requires assistance from a carelessly sloshed power drill drink. A bar stool operates a small bar with a sudsy burglar ale. Any power drill drink can be</span></p>]]></beschreibung>
      <verstecken>0</verstecken>
      <startEvent>2017-03-05T09:33:37</startEvent>
      <endeEvent>2017-02-28T06:33:40</endeEvent>
      <uberschrift><![CDATA[Kalender Eintrag 1]]></uberschrift>
    </kalenderItem>
    <kalenderItem id="1071" key="2ffd2aa8-2d6d-4ab8-9a3b-c22a97792879" parentID="1067" level="2" creatorID="0" sortOrder="1" createDate="2017-02-23T16:42:34" updateDate="2017-02-24T09:34:01" nodeName="Kalender Eintrag 2" urlName="kalender-eintrag-2" path="-1,1067,1071" isDoc="" nodeType="1065" creatorName="nfrank@byte5.de" writerName="nfrank@byte5.de" writerID="0" template="0" nodeTypeAlias="kalenderItem">
      <beschreibung><![CDATA[<h4>Introduction</h4>
<p><span>When a dude for a coors light daydreams, a Left Hand Milk Stout living with a Hefeweizen starts reminiscing about a lost buzz. When a salty Fraoch Heather Ale returns home, an Octoberfest near a sake bomb starts reminiscing about a lost buzz. Another Home brew laughs out loud, and the Guiness over the Keystone procrastinates; however, a scooby snack avoids contact with another crank case of another customer. Some bar tab over a Busch prays, and the hops gives the l</span></p>]]></beschreibung>
      <verstecken>1</verstecken>
      <startEvent>2017-01-31T09:33:55</startEvent>
      <endeEvent>2017-03-05T09:33:57</endeEvent>
      <uberschrift><![CDATA[This is Hidden]]></uberschrift>
    </kalenderItem>
    <kalenderItem id="1072" key="bb14a0c9-f256-4d29-ae79-17befb6a38e8" parentID="1067" level="2" creatorID="0" sortOrder="2" createDate="2017-02-23T16:44:19" updateDate="2017-02-24T09:34:09" nodeName="Kalender Eintrag 3" urlName="kalender-eintrag-3" path="-1,1067,1072" isDoc="" nodeType="1065" creatorName="nfrank@byte5.de" writerName="nfrank@byte5.de" writerID="0" template="0" nodeTypeAlias="kalenderItem">
      <beschreibung><![CDATA[<p>Bacon ipsum dolor amet ball tip pastrami t-bone, meatloaf flank shank landjaeger porchetta spare ribs. Ground round filet mignon ball tip, short loin shankle frankfurter kielbasa capicola cupim turkey. Frankfurter cow prosciutto alcatra, flank picanha tongue shoulder. Hamburger tongue rump short ribs sirloin salami.</p>
<p>Biltong chicken pastrami frankfurter flank pork chop. Cupim shoulder beef porchetta. Frankfurter ground round chicken swine kevin ball tip shankle sausage pancetta. Capicol</p>]]></beschreibung>
      <verstecken>0</verstecken>
      <startEvent>2017-02-24T09:34:04</startEvent>
      <endeEvent>2017-02-24T09:34:07</endeEvent>
      <uberschrift><![CDATA[Kalender Eintrag 3]]></uberschrift>
    </kalenderItem>
    <kalenderItem id="1073" key="76d9d455-d6f3-426c-891c-2fca32dfee42" parentID="1067" level="2" creatorID="0" sortOrder="3" createDate="2017-02-23T16:45:07" updateDate="2017-02-24T09:44:28" nodeName="Kalender Eintrag 4" urlName="kalender-eintrag-4" path="-1,1067,1073" isDoc="" nodeType="1065" creatorName="nfrank@byte5.de" writerName="nfrank@byte5.de" writerID="0" template="0" nodeTypeAlias="kalenderItem">
      <beschreibung><![CDATA[<p>Spicy jalapeno bacon ipsum dolor amet porchetta flank strip steak jerky, meatball shankle drumstick. Tail tenderloin fatback, jerky pork belly strip steak turkey. Bacon tenderloin pancetta, shankle ball tip shank ribeye shoulder venison jerky. Ribeye hamburger fatback landjaeger. Rump bresaola landjaeger, tail beef ribs kevin pork belly kielbasa flank ham meatloaf turducken beef turkey.</p>
<p>Pastrami bacon drumstick, tenderloin andouille sirloin landjaeger bresaola cow alcatra. Corned beef</p>]]></beschreibung>
      <verstecken>0</verstecken>
      <startEvent>2017-02-24T09:34:12</startEvent>
      <uberschrift><![CDATA[Kalender Eintrag 4]]></uberschrift>
    </kalenderItem>
  </kalenderRepository>
  <newsRepository id="1081" key="30657bec-c448-48ca-8811-5296138a60f6" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2017-02-24T09:52:50" updateDate="2017-02-24T09:52:50" nodeName="News" urlName="news" path="-1,1081" isDoc="" nodeType="1077" creatorName="nfrank@byte5.de" writerName="nfrank@byte5.de" writerID="0" template="1076" nodeTypeAlias="newsRepository">
    <siteName><![CDATA[News]]></siteName>
    <byline><![CDATA[Witty text about the News]]></byline>
    <copyright><![CDATA[Nils Frank]]></copyright>
    <newsItem id="1082" key="b5378cd7-6373-4d18-8694-0a36630a74e5" parentID="1081" level="2" creatorID="0" sortOrder="0" createDate="2017-02-24T09:53:43" updateDate="2017-02-24T09:53:43" nodeName="News 1" urlName="news-1" path="-1,1081,1082" isDoc="" nodeType="1079" creatorName="nfrank@byte5.de" writerName="nfrank@byte5.de" writerID="0" template="0" nodeTypeAlias="newsItem">
      <uberschrift><![CDATA[News 1]]></uberschrift>
      <inhalt><![CDATA[<p><span>Crucifix twee direct trade heirloom quinoa, squid readymade. Four dollar toast hot chicken irony, fanny pack leggings butcher asymmetrical pop-up quinoa unicorn gochujang photo booth. Occupy copper mug poke ugh master cleanse. Pop-up kitsch bitters, forage slow-carb tofu authentic brooklyn. Activated charcoal occupy godard, banh mi leggings squid yr everyday carry copper mug letterpress ugh hella cray gluten-free. Vexillologist tousled deep v vape squid jean shorts. Jean shorts tote bag banh mi, keytar 3 wolf moon organic small batch.</span></p>]]></inhalt>
      <verstecken>0</verstecken>
    </newsItem>
    <newsItem id="1083" key="323b29ba-d2fe-4f02-bfac-e96a25f3e1c5" parentID="1081" level="2" creatorID="0" sortOrder="1" createDate="2017-02-24T09:54:00" updateDate="2017-02-24T09:54:00" nodeName="News 2" urlName="news-2" path="-1,1081,1083" isDoc="" nodeType="1079" creatorName="nfrank@byte5.de" writerName="nfrank@byte5.de" writerID="0" template="0" nodeTypeAlias="newsItem">
      <uberschrift><![CDATA[News 2]]></uberschrift>
      <inhalt><![CDATA[<p><span>Ugh VHS post-ironic, vice iceland mustache live-edge glossier prism kickstarter mlkshk +1. Ethical distillery chia letterpress cold-pressed. Put a bird on it readymade pour-over, cliche kale chips kickstarter messenger bag vinyl semiotics dreamcatcher tattooed small batch activated charcoal chartreuse jianbing. Next level messenger bag salvia, affogato lo-fi chillwave squid kombucha tacos actually gastropub. Vaporware aesthetic everyday carry mixtape, butcher craft beer yuccie pop-up hashtag taxidermy. Food truck ennui marfa tumblr chillwave. Try-hard retro everyday carry occupy, irony lo-fi vape seitan direct trade sartorial next level offal wayfarers godard.</span></p>]]></inhalt>
      <verstecken>0</verstecken>
    </newsItem>
    <newsItem id="1084" key="2db6597f-d6c6-4ba9-8d1a-015aaed622e9" parentID="1081" level="2" creatorID="0" sortOrder="2" createDate="2017-02-24T09:54:21" updateDate="2017-02-24T09:54:21" nodeName="News 3" urlName="news-3" path="-1,1081,1084" isDoc="" nodeType="1079" creatorName="nfrank@byte5.de" writerName="nfrank@byte5.de" writerID="0" template="0" nodeTypeAlias="newsItem">
      <uberschrift><![CDATA[News 3]]></uberschrift>
      <inhalt><![CDATA[<p><span>Synth venmo flannel pour-over hashtag. La croix blue bottle microdosing cold-pressed irony, coloring book portland asymmetrical kinfolk roof party enamel pin franzen hammock schlitz. Hashtag taxidermy etsy glossier, beard mumblecore before they sold out pabst. Roof party mlkshk mixtape yr man braid, chicharrones ennui twee. Pork belly activated charcoal farm-to-table next level, franzen flannel blue bottle. Kickstarter subway tile distillery, readymade ennui PBR&amp;B unicorn hell of chicharrones viral pour-over affogato farm-to-table umami. Blog keffiyeh disrupt post-ironic, farm-to-table vexillologist roof party pitchfork fashion axe hoodie.</span></p>]]></inhalt>
      <verstecken>1</verstecken>
    </newsItem>
    <newsItem id="1085" key="1978e1ef-bc13-4712-b0de-c60d223d0b2a" parentID="1081" level="2" creatorID="0" sortOrder="3" createDate="2017-02-24T09:54:40" updateDate="2017-02-24T09:54:40" nodeName="News 4" urlName="news-4" path="-1,1081,1085" isDoc="" nodeType="1079" creatorName="nfrank@byte5.de" writerName="nfrank@byte5.de" writerID="0" template="0" nodeTypeAlias="newsItem">
      <uberschrift><![CDATA[News 4]]></uberschrift>
      <inhalt><![CDATA[<p><span>Four loko meditation lumbersexual, kickstarter chambray squid drinking vinegar chia health goth art party blog vaporware microdosing brunch. Actually asymmetrical tacos plaid vinyl drinking vinegar artisan narwhal, pop-up prism tumblr microdosing disrupt. Iceland cray bitters, try-hard keffiyeh waistcoat flexitarian pok pok street art vape chia banh mi. Letterpress normcore kickstarter, iceland schlitz 8-bit shabby chic heirloom gastropub. Man bun bespoke etsy lo-fi, +1 blog bitters kogi dreamcatcher unicorn four loko cardigan drinking vinegar banh mi. IPhone craft beer scenester, jianbing readymade waistcoat schlitz next level. Woke selfies +1, vice kinfolk swag hella pitchfork kale chips trust fund pork belly.</span></p>]]></inhalt>
      <verstecken>0</verstecken>
    </newsItem>
  </newsRepository>
  <login id="1090" key="0af10ef5-1317-4225-9673-b467f7b15e7a" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2017-02-24T10:40:33" updateDate="2017-02-24T10:40:33" nodeName="Login" urlName="login" path="-1,1090" isDoc="" nodeType="1089" creatorName="nfrank@byte5.de" writerName="nfrank@byte5.de" writerID="0" template="1088" nodeTypeAlias="login">
    <umbracoNaviHide>1</umbracoNaviHide>
    <begruessung><![CDATA[Hallo]]></begruessung>
  </login>
</root>