<div ng-controller="ZeitDashboard">
    <label>Tage</label>
    <input ng-model="day" type="checkbox" name="tage" value="Montag"/>
    <input ng-model="day" type="checkbox" name="tage" value="Dienstag"/>
    <input ng-model="day" type="checkbox" name="tage" value="Mittwoch"/>
    <input ng-model="day" type="checkbox" name="tage" value="Donnerstag"/>
    <input ng-model="day" type="checkbox" name="tage" value="Freitag"/>
    <input ng-model="day" type="checkbox" name="tage" value="Samstag"/>
    <input ng-model="day" type="checkbox" name="tage" value="Sonntag"/>
    
    <label>Offen von:</label>
    <input ng-model="timeFrom" type="time"/>
    
    <label>Offen bis:</label>
    <input ng-model="timeTo" type="time"/>
</div>